<h1 style="background-color: aquamarine;color:blue ;">COMPONENT 1</h1>
<input type="text" class="form-control" [(ngModel)]="name" placeholder="ENTER ANYTHING..........."><br>
<button class="btn btn-sm btn-danger" (click)="send()">SEND SINGLE DATA TO COMPONENT 2</button><br><hr>
name:-
<input type="text" class="form-control" [(ngModel)]="name2"><br>
Mob:-
<input type="number" class="form-control" [(ngModel)]="mob"><br>
<button class="btn btn-sm btn-primary" (click)="send2()">SEND MULTIPLE DATA TO COMPONENT 2</button><hr><br>

